@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

:root {
    --clr-neon: hsl(5, 88%, 33%);
    --clr-bg: hsl(0, 0%, 0%);
}

html {
    background: rgb(73,36,36);
    background: linear-gradient(90deg, rgba(73,36,36,1) 0%, rgba(47,14,14,1) 53%, rgba(96,6,6,1) 100%);
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

li, a, button {
    font-family: 'Crimson Text', serif;
    font-weight:500;
    font-size: 21px;
    color:#ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: #24252a;

}

.logo {
    cursor: pointer;
    width:75px;
    height:75px;
}

.nav__links {
    list-style: none;
}


.nav__links li {
    display:inline-block;
    padding: 0px 60px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;    
}
.nav__links li a:hover{
    color: #9e160a;    
}

button {
    padding: 6px 15px;
    background-color: rgb(158, 22, 10);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

button:hover {
    background-color: rgb(158, 22, 10);

}

.neon-button {
    font-size: 1.1rem;
    display:inline-block;
    cursor: pointer;
    text-decoration: none;
    color:var(--clr-neon);
    border: currentColor 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    font-weight: 700;
}

.neon-button::before {
    content: "";
    width:100%;
    height:100%;
}

.neon-button::after {
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 500ms linear;
}

.neon-button:hover,
.neon-button:focus {
    background: var(--clr-neon);
    color:var(--clr-bg);
    transition: 1000ms;
}

.neon-button:hover::after {
    opacity: 1;
}
/* TEAMS */
.card {
    background: rgb(46,9,9);
    background: #24252a;
    margin: 20px;
    width:300px;
    border: solid;
    border-width: 3px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow: 5px 5px 15px rbga(0,0,0,0.9);

    transition: 0.5s ease;
    cursor: pointer;
    opacity: 0.85;
}
.card:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card-header {
    color:white;
    font-size: 1.5rem;
    margin-bottom:  .5rem;
}

.card-body {
    font-size: .9rem;
}

.card-footer {
    margin-top:1rem;
}

.btn-opgg {
    background: #9e160a;
    color:white;
    border:2px solid #000000;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor:pointer;
    
}

.btn-opgg:hover, .btn-opgg:focus {
    background: hsl(0, 21%, 65%);
    color: black;
    font-weight: 650;
}

.btn-stats {
    background: none;
    color: #ff5546;
    border: 1px solid #9e160a;
    font-size: 1rem;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    cursor: pointer;
}

.btn-stats:hover, .btn-stats:focus {
    background: #9e160a;
    color:white;
    border: 1px solid white;
}

.btn-stats + .btn-stats {
    margin-left: .25rem;
}

.team-logo {
    cursor: pointer;
    width:150px;
    height:150px;
}

.team-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 81%;
    margin:auto;
}

/* homescreen styling */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#discord {
    margin-right: 15px;
    font-size: 1.3rem;
    border: 2px solid #000000;
}

#twitch {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1.3rem;
    border: 2px solid #000000;
}

#contact {
    margin-left: 15px;
    font-size: 1.3rem;
    border: 2px solid #000000;
}

.hero-container {
    background: #24252a;
    margin: 20px;
    border: solid;
    border-width: 3px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow: 5px 5px 15px rbga(0,0,0,0.9);

    transition: 0.5s ease;
    cursor: pointer;
    opacity: 0.8;
}

.home-logo {
    position: relative;
    opacity: 1;
    z-index: 1;
}


.rules-header1{
    color:white;
    text-align:center;
    font-size:xx-large;
    font-weight:bold;
    text-decoration-line:underline;

}
.rules-header2 {
    color:white;
    text-align:center;
    font-size:large;
    font-style:italic;
}


.rules-body-title{
    color:white;
    font-size:xx-large;
    font-weight:bold;
    text-decoration:underline;
    text-align:center;
    padding: 5px;
    margin-left: 35px;
}
br{
    display:block;
    margin: 10px 0;
}
.rules-container1{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 300%;
    
}
.rules-container{
    background: rgb(46,9,9);
    background: linear-gradient(90deg, rgba(46,9,9,1) 0%, rgba(42,3,3,1) 53%, rgba(46,4,4,0.9079832616640406) 100%);    border-radius: .25rem;
    margin: 20px;
    border: solid;
    border-width: 3px;
    border-radius: 2px;
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow: 5px 5px 15px rbga(0,0,0,0.9);

    transition: 0.5s ease;
    cursor: pointer;
}

.rules-header{
    margin-bottom:20px;
}

ul li {
    padding: 15px;
}

li {
    list-style-type: none;
    color:white;
    font-size:large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}

/* homescreen styling */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#discord {
    margin-right: 15px;
    font-size: 1.3rem;
    border: 2px solid #000000;
}

#twitch {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1.3rem;
    border: 2px solid #000000;
}

#contact {
    margin-left: 15px;
    font-size: 1.3rem;
    border: 2px solid #000000;
}

.hero-container {
    background: #24252a;    
    border-radius: .25rem;
    margin: 20px;
    border: solid;
    border-width: 3px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow: 5px 5px 15px rbga(0,0,0,0.9);
    width: 83.5%;

    transition: 0.5s ease;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
}

.home-logo {
    position: relative;
    opacity: 1;
    z-index: 1;
}


.rules-header1{
    color:white;
    text-align:center;
    font-size:xx-large;
    font-weight:bold;
    text-decoration-line:underline;

}
.rules-header2 {
    color:white;
    text-align:center;
    font-size:large;
    font-style:italic;
}


.rules-body-title{
    color:white;
    font-size:xx-large;
    font-weight:bold;
    text-decoration:underline;
    text-align:center;
    padding: 5px;
    margin-left: 35px;
}
br{
    display:block;
    margin: 10px 0;
}
.rules-container1{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 300%;
    
}
.rules-container{
    background: rgb(46,9,9);
    background: linear-gradient(90deg, rgba(46,9,9,1) 0%, rgba(42,3,3,1) 53%, rgba(46,4,4,0.9079832616640406) 100%);    border-radius: .25rem;
    margin: 20px;
    border: solid;
    border-width: 3px;
    border-radius: 2px;
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow: 5px 5px 15px rbga(0,0,0,0.9);

    transition: 0.5s ease;
    cursor: pointer;
}

.rules-header{
    margin-bottom:20px;
}

ul li {
    padding: 15px;
}

li {
    list-style-type: none;
    color:white;
    font-size:large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}

.home-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%;
    margin:auto;
}

.teams-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%;
    margin:auto;
    background: #24252a;    
    border-radius: .25rem;
    margin: 20px;
    border: solid;
    border-width: 3px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow: 5px 5px 15px rbga(0,0,0,0.9);
    width: 83.5%;

    transition: 0.5s ease;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
}

#teams-header {
    color: white;
    font-size: 2.5rem;
}

